<div class="content-heading">Roles</div>
<div class="table-responsive b0">
    <button class="btn btn-labeled btn-primary" routerLink="/roles/add"><span class="btn-label"><i class="fa fa-plus"></i></span>Add role</button>
    <br/>
    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <strong>#</strong>
                </th>
                <th>
                    <strong>NAME</strong>
                </th>
                <th class="text-center">
                    <strong>ACTION</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>{{ role.id }}</td>
                <td>{{ role.libelle }}</td>
                <td class="text-center">
                    <button [routerLink]="['/roles/edit', role.id]" class="btn btn-xs btn-warning" type="button">
                        <em class="fa fa-wrench"></em>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
