<div class="content-heading">Shops</div>
<div class="table-responsive b0">
    <button class="btn btn-labeled btn-primary" routerLink="/shops/add"><span class="btn-label"><i class="fa fa-plus"></i></span>Add Shop</button>
    <br/>
    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <strong>#</strong>
                </th>
                <th>
                    <strong>NAME</strong>
                </th>
                <th>
                    <strong>LOCALISATION</strong>
                </th>
                <th class="text-center">
                    <strong>ACTION</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shop of shops">
                <td>{{ shop.id }}</td>
                <td>{{ shop.name }}</td>
                <td>{{ shop.localisation }}</td>
                <td class="text-center">
                    <button [routerLink]="['/shops/edit', shop.id]" class="btn btn-xs btn-warning" type="button">
                        <em class="fa fa-wrench"></em>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
