<div class="content-heading">Articles</div>
        <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="table-responsive b0">
    <button *ngIf="permAddArticle" class="btn btn-labeled btn-primary" routerLink="/articles/add"><span class="btn-label"><i class="fa fa-plus"></i></span>Add Article</button>
    <br/>
    <br/>
    <!--
    <div class="box-placeholder">
        <h4>Filtre: </h4>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Recherche" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="account">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="account">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="account">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <strong>#</strong>
                </th>
                <th>
                    <strong>NAME</strong>
                </th>
                <th>
                    <strong>PRICE</strong>
                </th>
                <th>
                    <strong>QUANTITY</strong>
                </th>
                <th>
                    <strong>CATEGORIES</strong>
                </th>
                <th>
                    <strong>MATERIALS</strong>
                </th>
                <th>
                    <strong>COLORS</strong>
                </th>
                <th>
                    <strong>BRAND</strong>
                </th>
                <th>
                    <strong>SHOP</strong>
                </th>
                <th>
                    <strong>ON WEBSITE</strong>
                </th>
                <th class="text-center">
                    <strong>ACTION</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articles">
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.price }}€</td> 
                <td>{{ article.quantity }}</td>          
                <td><span class="label label-primary label-article">{{ article.category.name }}</span></td>
                <td><span class="label label-primary label-article" *ngFor="let material of article.materials">{{ material.name }}</span></td>
                <td><span class="label label-primary label-article" *ngFor="let color of article.colors">{{ color.name }}</span></td>
                <td><span class="label label-primary label-article">{{ article.brand.name }}</span></td>
                <td><span class="label label-primary label-article">{{ article.shop.name }}</span></td>
                <td>
                    <span style="text-align: center" *ngIf="article.on_website" class="label label-success">Yes</span>
                    <span style="text-align: center" *ngIf="!article.on_website" class="label label-danger">No</span>
                </td>
                <td class="text-center">
                    <div *ngIf="permAddSolded">
                        <button type="button" class="btn btn-xs btn-success" (click)="classicModal.show()">
                            <em class="fa fa-share"></em>
                        </button>
                        <div class="modal fade" bsModal #classicModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" aria-label="Close" (click)="classicModal.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">{{ article.name }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to sell this article?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-md btn-danger" (click)="classicModal.hide()">Cancel</button>
                                        <button type="button" class="btn btn-md btn-success" (click)="articleSolded(article);classicModal.hide()">Valid</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button [routerLink]="['/articles/show', article.id]" class="btn btn-xs btn-primary" type="button">
                        <em class="fa fa-search"></em>
                    </button>
                    <button *ngIf="permAddArticle" [routerLink]="['/articles/edit', article.id]" class="btn btn-xs btn-warning" type="button">
                        <em class="fa fa-wrench"></em>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--
    <pagination class="pagination-sm" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages"></pagination>
    -->
</div>
